<nav class="navbar">
    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/create_trade_offer">Create Trade Offer</a></li>
        <li><a href="/chat">Chat</a></li>
    </ul>
    <div class="nav-auth">
        {% if session.get('user_id') %}
                {{ session['username'] }}
            </span>
            <a href="{{ url_for('logout') }}" class="auth-btn">Logout</a>
        {% else %}
            <a href="{{ url_for('login') }}" class="auth-btn">Login</a>
            <a href="{{ url_for('register') }}" class="auth-btn">Register</a>
        {% endif %}
    </div>
    <img src="{{ url_for('static', filename='CounterStrikeLogo.png') }}"alt="Logo"class="nav-logo">
</nav>
